<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Prueba general">
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="PrubeaSoftwareToturia.Prueba"/>
      <class name="PrubeaSoftwareToturia.Cambios_URL"/>
      <class name="PrubeaSoftwareToturia.PruebaTestng"/>
      <class name="PrubeaSoftwareToturia.Prueba_Mause"/>
      <class name="PrubeaSoftwareToturia.Formularios"/>
      <class name="PrubeaSoftwareToturia.GoogleSearch"/>
      <class name="PrubeaSoftwareToturia.ClaseCommons"/>-->
      
     <class name="PruebaTestng.PruebaPractica">
      <methods>
      	<include name="prueba"/>
      	<include name="prueba2"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
